
.react-autosuggest__container {
    position: relative;
  }
  
  .react-autosuggest__input {
   border-radius: 6px;
   height: 45px;
   width:100%;
   background-color: rgb(61, 63, 66);
   outline:none;
   border-color: transparent;
   padding:5px;
  color:white;
  }
  
  .react-autosuggest__input:focus {
    outline: none;
  }
  

  .react-autosuggest__container--open {
    background-color: #282B2E;
  }

  .react-autosuggest__container--open .react-autosuggest__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

  }
  
  .react-autosuggest__suggestions-container {
    display: none;
}


.react-autosuggest__container--open .react-autosuggest__suggestions-container {
    display: block;
    position: absolute;
    top: 51px;
    width: 100%;
    z-index: 2;
    background-color: #282B2E;
    /* background-color: blue; */
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    /* padding: 20px 50px; */
    margin-left: -20px;
    margin-right: -20px;
    
  }
  
  .react-autosuggest__suggestion > div {
      margin-left: 40px;
      padding:10px;
  }
  .react-autosuggest__suggestion--highlighted > div {
    font-weight: 600;
  }

  .react-autosuggest__section-title {
      font-size: large;
  }



  .react-autosuggest__suggestion--highlighted {
background-color: rgb(61, 63, 66);

  }

  .react-autosuggest__suggestion--focused {
    background-color: #0C7EAF;
    color: #fff;
  }
  
  .react-autosuggest__section-container:not(:first-child) {
      margin-top: 10px;
  }