.carousel__dot {
    padding:0;
    width:20px;
    height:20px;
    /* padding-right:10px; */
    margin-left: 20px;
    border:none;
    outline: none;
    background-color: transparent;
    /* margin:auto; */
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: white;
}

.carousel__dot--selected {
    background: white;
}

.carousel__dot-group{
   display:flex;
   justify-content: center;
}